:root
  --main-green: #2E5659
  --main-beige: #CBA884
  --bg-color: #EADCCE
  --darker-green: #234143
  --main-font: 'Montserrat', sans-serif
  --swiper-theme-color: var(--main-green)

  
html
  scroll-behavior: smooth

body
  font-size: 1rem
  font-family: var(--main-font)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: var(--main-green)
  background-color: #F9F5F0
  position: relative

.skip-link
  @apply hidden lg:inline-flex
  position: absolute
  top: -999rem
  left: 0
  z-index: 9999
  padding-left: 2rem
  @apply bg-main-beige text-main-green text-xs font-normal tracking-widest uppercase px-2 py-0 border border-main-beige transition-all duration-200 ease-in-out
  outline: 2px solid var(--main-green)
  outline-offset: 2px
  
  &:focus,
  &:active,
  &:focus-visible
    top: 0
    outline: 2px solid var(--main-green)
    outline-offset: 2px

#main-content
  overflow-x: hidden

.grecaptcha-badge
  visibility: hidden

@layer utilities
  .clip-square
    clip-path: inset(0 0 0 0)