.main-header
  transition: all 0.5s ease-in-out
  #main-symbol
    transition: all 0.5s ease-in-out
  #main-logo
    transition: all 0.5s ease-in-out
    opacity: 1
    visibility: visible
  &--scrolled
    padding-top: 30px
    padding-bottom: 35px
    background-color: #F9F5F0
    #main-logo
      transform: translateY(-100%)
      opacity: 0
      visibility: hidden
    #main-symbol
      transform: scale(1)
    & .menu-button
      color: var(--main-green)
      .toggle
        span
          background-color: var(--main-green)
  &--open
    min-height: 100vh
    background-color: var(--darker-green)

  ~ body
    overflow: hidden


.navigation-mobile
  .navbar-nav
    .menu-item
      text-align: center
      .nav-link
        display: inline-block
        padding: 10px 0px
        font-size: 31px
        font-weight: 600